
body {
    background-image: url("https://wallpapercave.com/wp/wp11620070.jpg"); 
    font-family: "Monaco", monospace;
    background-size: cover;

  }
  
  #page-wrapper {
    width: 960px;
    margin: 0 auto;
    box-shadow: 0px 4px 8px 2px rgb(55, 54, 54); 
    border-radius: 12px 12px 0px 0px; 
  }
  
  #header {
    position: relative;
    margin-bottom: 55px;
    border-radius: 10px 10px 0px 0px; 
  }
  
  #header h1 {
    position: absolute;
    left: 325px;
    top: 30px;
    font-size: 3em;
    font-family: 'Georgia', serif;
    color: #807674;
  }
  
  #header #toplink {
    text-decoration: none;
    position: absolute;
    top:-34px;
    right: 10px;
    color: white;
    font-size: 1.8em;
  }
  
  #footer {
    background-color: #b7937e;
    height: 80px;
    clear: both;
  }
  
  #content-wrapper {
    background-image: url("https://static.vecteezy.com/system/resources/previews/006/097/774/original/abstract-contemporary-aesthetic-background-with-desert-mountains-sun-earth-tones-burnt-orange-terracotta-colors-boho-wall-decor-landscapes-set-with-sunrise-sunset-earth-tones-pastel-colors-free-vector.jpg");
    float: left;
    width: 100%;
    color: #2f2e2e;
    background-size: cover;
  }
  
  .center-text {
    margin-top: -90px;
    margin-left: 155px;
    color: #353432;
  }
  

  #main-content {
    min-height: 250px;
    width: 715px;
    margin-right: 50px;
    float: left;
    margin-left: 15px;
  }

  #main-content img{
    margin-top:50px;
  }
  
  h2 strong {
    font-size: 2em;
    font-weight: 900;
  }
  
  .image-r {
    float: left;
    border: 2px solid #777;
    width: 100px;
    padding: 5px;
    background-color: white;
    margin: 40px 0 10px 20px;
  }
  
  #side-content {
    min-height: 100px;
    width: 10px;
    float: left;
    color: #3b3a3a;
  }

  #side-content li{
    margin-bottom: 15px;
    font-size: 1rem;
  }
  
  #main-nav {
    float: left;
    width: 100%;
    background-color: #b7937e;
  }
  
  #main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    left:50%;
  }
  
  #main-nav ul li {
    float: left;
    position: relative;
    right: 50%;
  }
  
  #main-nav ul li a {
    padding: 10px 25px;
    display: block;
    text-decoration: none;
    color: #ffffff;
  }
  
  #main-nav ul li a:hover {
    background-color: #ccc;
    color: #333;
  }
  
  #center {
    width: 950px;
    text-align: center;
    color: #777;
  }
  
  strong {
    font-weight: 900;
    font-size: 48px;
  }